body {
    background-color: lightblue;
}
p.thick {
    font-weight: bold;
}
h1 {
    color: white;
    text-align: center;
}
h1 {
    font-size: 40px;
}

p {
    font-family: verdana;
    font-size: 18px;
}
p.normal {
    font-style: normal;
}